mixin cols(val)
  span(class=val.class) !{val.content}
    block

mixin norm(val)
  span.style-line-height-double.layout-padding-vert-small(class=val.class)= val.content
    block

mixin contents(val)
  - val = val || {};
  if val.content
    +norm(val)
      block
  if val.img
    img(class=val.class src=val.img.src alt=val.img.alt)
  else if val.a
    a.layout-inline(href=val.a.href)= val.a.content

mixin doc(val, col)
  - val = val || {};
  if val.content
    if col
      +cols(val)
    else
      +norm(val)
  else
    +contents(val)

mixin content(val)
  - val = val || {};
  section.layer-main(class=val.class)
    span.style-line-height
      +doc(val, false)

      if val.values
        each txt in val.values
          +doc(txt, false)

          if txt.row
            .layout-row(class=txt.row.class)
              each col in txt.row.values
                if col.col
                  section(class=col.col.class)
                    +doc(col.col, true)

                    if col.col.values
                      each col_txt in col.col.values
                        +doc(col_txt, true)



