mixin hero(val)
  - val = val || { img: {} };
  article.layout-contain.layout-padding-horz-small.layout-padding-bottom.layout-padding-dull-top
    .layer-hero
      .layer-image
        img.load-img(src=val.img.src, alt=val.img.alt)
        .layer-image-overlay
      section.layout-enlarge
        .layer-content.style-center
          section.layer-header
          section.layer-main
            h1.style-font-title.layer-title.style-white= val.title
            a.h3.style-secondary.layer-hero-scroll-down.layer-shadow.icon-btn
              .layout-padding-small
                i.icon expand_more

  //- article.layout-contain.layout-padding-horz-small.layout-padding-bottom.layout-padding-dull-top
    .layer-hero.layout-enlarge
      .layer-image
        img.load-img(src=val.img.src, alt=val.img.alt)
        .layer-image-overlay
      .layer-content
        section.layer-header
        section.layer-main.style-center
          h1.style-font-title.layer-title.style-white= val.title
          a.h3.layer-hero-scroll-down.layer-shadow.icon-btn
            .layout-padding-small
              i.icon expand_more

